<html>
<div class="header">
  <ul>
  <div class="menu">
    <li>Welcome</li>
    <li>Portfolio</li>
    <li>Blog</li>
    <li>About</li>
    <li>Contact</li>
    <li>Nicolas Cepeda</li>
    </div>
    </div>
  </ul>
</div>

<div class="main">
  <div class="image">
    <h2 class="summary">Hello. My Name is <span class="resaltar">Nicolas Cepeda</span> and I have creative ideas and build websites</h2>
    <button class="btn" type="button">View my work</button>
  </div>
</div>

<div class="footer">
  <ul>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <li class="fa fa-instagram"></li>
     <li class="fa fa-facebook"></li>
     <li class="fa fa-youtube"></li>
     <li class="fa fa-snapchat-ghost"></li>
  </ul>
</div>

</html>